.header {
  background-color: #4A90E2;
  padding: 15px 15px;
  margin-bottom: 20px;
}

.header-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}
.facebook {
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: .001em;
  color: #FFF;
}

.minha-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:#FFF;
  font-size: 1em;
  text-decoration: none;
}
.minha-area:hover {
  text-decoration: none;
}
.material-icons {
  margin-left: 6px;
}