<strong>Olá, {{student}} </strong>
<p>Você teve a dúvida respondida</p>
<p>
  <strong>Dúvida: </strong>{{helpOrder}} <br />
  <strong>Resposta<small>({{answer_at}})</small>: </strong>{{answer}} <br />
</p>
